/* коментить так*/
p.serif {
    font-family: 'Times New Roman', Times, serif;
    color: red;    
}
p.cursive {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li.light {
    font-weight: lighter;
}
li.bolder{
    font-weight: bolder;
}
